.footer {
    padding: 5px 5px 5px 10px;
}

.navbar-static-side {
    width: 150px;
}
#page-wrapper > div.wrapper.wrapper-content.animated.fadeInRight {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#page-wrapper > div.row.border-bottom > nav > ul > div > ul {
    min-width:100px;
}
#page-wrapper {
    margin: 0 0 0 150px;
    padding: 0px;
}

.navbar {
    min-height: 40px;
}

.nav>li>a {
    padding: 10px 20px 10px 25px;
}

.nav-header {
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.control-group {
    display: inline-block;
    text-align: left;
    width: 100px;
    height: 15px;
    margin-top: -2px;
}


.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;

}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 8px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: rgba(175, 226, 255, 0.26);
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 14px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}


.wrapper-content {
    padding: 0px 0px 0px;
    height: 510px;
}

.overlay {
    height: 100%;
    width: 0;
    margin-left: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d0d6d6;
    background-color: #d0d6d6;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.fixed-left {
    margin: 0px;
    padding: 0px;
}

