#newlaunchButton {
    margin-top: 36px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 35px;

}
.launch_details {
    font-size: 19px;
}

#launch_dropzone_dragover {
    box-shadow: 0 0 0 1px white inset;
}

.launch_attr {
    font-size: 16px;
}

#right_column > div > div > div:nth-child(3) > div.col-lg-5 > form {
    font-size: 19px;
}
#cancel_launch, #submit_launch {
    border: 5px white solid;
    border-radius: 5px;
    height: 70px;
    font-weight: bold;
    padding-right: 11px;
    padding-left:11px;

}
#printYesNo {
    outline-width: 0px;
    width: 90px;
    font-size: 16px;
    margin-left: 10px;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid lightsteelblue;
    text-align-last:center;
    border-radius: 0px;
}

.launch_overlay_block{
    display: block;
    position:absolute;
    background: rgb(0, 0, 0);
    opacity: .8;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:999;
    transition: 1.2s;
}

#right_column {
    margin-top: 10px;
}
.highlight{
    position:relative;
    z-index:9999;
}
.highlightContent, .highlightButtons{
    margin-top:30px;
}.is-hidden {
     display: none;
 }

#right_column > div:nth-child(1) > div > div:nth-child(2) > div > div {
    padding-left: 5px;
}

#right_column > div:nth-child(1) > div {
    padding-bottom: 10px;
}
#right_column > div:nth-child(1) > div > div:nth-child(2) > div > label {
    padding-right: 5px;
    width: 177px;
    text-align: right;
}

#right_column > div:nth-child(1) > div > div:nth-child(2) > div > div > input {
    border: transparent;
    border-bottom: 1px solid lightsteelblue;
}

#right_column > div:nth-child(1) > div > div:nth-child(3) {
    margin-top: 10px;
}

#new_launch>h1 {
    font-weight: bold;
}