html {}

.scroll-table {
    width: 1020px;
    height: 490px;
}

.table {
    height: 100%;
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
    position: relative;
    font-size: 10pt;
    font-family:  'Trebuchet MS', monospace;
    font-weight: 300;
    background-color: white;
}

.table tr:nth-child(even) td {
    background: rgba(232, 232, 232, 0.41);
    border-bottom: 1px solid rgba(232, 232, 232, 0.6);
    border-top: 1px solid rgba(232, 232, 232, 0.6);
}

.table th {
    background: #fff;
}

.table tfoot td {
    border-top: 1px solid black;
}

.table th,
.table td {
    text-align: left;
    padding: 6px 10px;
}

.table thead,
.table tfoot,
.table tbody>tr {
    display: table;
     width: 100%;
    table-layout: fixed;
}

.table thead {
    position: absolute;
    top: 0;
    left: 0;
}

.table tbody {
    display: block;
    transform: translate(0, 34px);
    /*height: 100%;*/
    overflow-y: auto;
}

.table tfoot {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, 34px);
}

tbody {
    height: 457px;
}