<link rel="stylesheet" href="../public/definedCss/page_history.css">


<div class="scroll-table">
    <table class="table table-alt">

        <thead>
            <tr>
                <th style="width: 10px;"></th>
                <th style="width:60px">Job No.</th>
                <th style="width:190px;">Date</th>
                <th style="width:90px">Client</th>
                <th style="width:50px;">Status</th>
                <th style="width:510px">Filename</th>
            </tr>
        </thead>
        <tbody id="page_history_table">
        <!--Should dynamically be inserted.....-->


        </tbody>
        <!-- <tfoot>
                <tr>
                    <td colspan="4">This is the table footer.</td>
                </tr>
            </tfoot> -->
    </table>
</div>



<script src="../controllers/history.js" /></script>