<link rel="stylesheet" href="../public/definedCss/page_history_details_postflight.css">



<!--COL 1: LEFT-->
<div class="col-lg-4">
    <!--ROW: 1 of 2-->
    <div class="row">
        <div class="ibox" style="width: 300px; height:100%; margin-top: 5px;margin-bottom: 5px">
            <img src="http://via.placeholder.com/330x345" alt="" class="">
        </div>
    </div>
    <!--ROW: 2 of 2-->
    <div class="row">
        <!--PRODUCTION NOTES-->
        <div class="ibox float-e-margins" style="margin-bottom: 0px;margin-left: 0px;width: 330px;">
            <div class="ibox-content" style="border-radius: 5px;padding-bottom: 4px;padding-top: 4px;padding-left: 3px;padding-right: 5px;">
                <textarea required="" disabled="" id="detail_postflight_prod_notes" class="form-control" rows="6" autofocus="" style="resize: none;padding-bottom: 2px;padding-top: 5px;padding-left: 5px;padding-right: 5px;"></textarea>
            </div>
        </div>
    </div>
</div>

<!--COL: 2: RIGHT-->
<div class="col-lg-8">
    <!--ROW: 1-->
    <div class="row">
        <div id="right_column_row_1" class="col-lg-12">
            <div class="ibox float-e-margins" style="margin-bottom: 5px;">
                <div class="ibox-content" style="border-radius: 5px;height: 165px;">
                    <!--CLIENT NAME-->
                    <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                        <div class="col-lg-11">
                            <label class="postflight_details">Client Name:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="postflight_detail_clientName"></span>
                        </div>
                    </div>
                    <!--FILENAME-->
                    <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                        <div class="col-lg-11">
                            <label class="postflight_details">Filename:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="detail_postflight_filename"></span>
                        </div>
                    </div>

                    <div class="row">
                        <!--JOB NUMBER-->
                        <div class="col-lg-5">
                            <label class="postflight_details">Job Number:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="postflight_detail_jobNumber" ></span>
                        </div>
                        <!--BAG NUMBER-->
                        <div class="col-lg-5">
                            <label class="postflight_details">Bag Number:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="postflight_detail_bagNumber"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--ROW: 3-->
    <div class="row">
        <!--COL: 1 of 2-->
        <div class="col-lg-5">

        </div>
        <!--COL: 2 of 2-->
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Media Sizes</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Resolution</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Color</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Other Submitted Files</a></li>
                </ul>
                    <div class="tab-content">
                        <!--TAB 1-->
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="scroll-table">
                                    <table class="table table-alt">

                                        <thead>
                                        <tr>

                                            <th style="width:50px">Page</th>
                                            <th style="width:90px;">Trim Box</th>
                                            <th style="width:90px">Bleed Box</th>
                                            <th style="width:90px">Art Box</th>
                                            <th style="width:90px">Media Box</th>
                                            <th style="width:90px">Crop Box</th>

                                        </tr>
                                        </thead>
                                        <tbody id="detail_postflight_page_size_table">
                                        <!--Should dynamically be inserted.....-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <!--TAB 2-->
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="scroll-table">
                                <table class="table table-alt">

                                    <thead>
                                    <tr>
                                        <th style="width: 5px;"></th>
                                        <th style="width:50px">#</th>
                                        <th style="width:50px;">Page</th>
                                        <th style="width:120px">Resolution</th>
                                    </tr>
                                    </thead>
                                    <tbody id="detail_postflight_resolution_table">
                                    <!--Should dynamically be inserted.....-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--TAB 2-->
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="scroll-table">
                                <table class="table table-alt">
                                    <thead>
                                    <tr>
                                        <th style="width: 5px;"></th>
                                        <th style="width:50px">#</th>
                                        <th style="width:50px;">Page</th>
                                        <th style="width:120px">Color</th>
                                    </tr>
                                    </thead>
                                    <tbody id="detail_postflight_color_table">
                                    <!--Should dynamically be inserted.....-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--TAB 3-->
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="scroll-table">
                                <table class="table table-alt">
                                    <thead>
                                    <tr>
                                        <th style="width:30px">#</th>
                                        <th style="width:230px;">Filename</th>

                                    </tr>
                                    </thead>
                                    <tbody id="detail_postflight_other_submitted_files_table">
                                    <!--Should dynamically be inserted.....-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="../controllers/page_history_detail_postflight.js"></script>