<link rel="stylesheet" href="../public/definedCss/page_postflight.css">

<div class="row">
    <!--LEFT COLUMN-->
    <div class="col-lg-5">
        <!--DROPZONE-->
        <div class="widget white-bg text-center" style="border-radius: 5px;">
            <div id="postflight_dropzone" class="class_postflight_dropzone" style="padding: 5px;">
            <div id="dropzoneChild" class="class_postflight_dz_background p-xl">
            <div class="m-b-md">
                <i class="fa fa-cloud-upload fa-4x"></i>
                <h1 class="font-bold">
                    Drop Files Here
                </h1>
            </div>
            </div></div>
        </div>
        <!--PRODUCTION NOTES-->
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="border-radius: 5px;padding-bottom: 2px;padding-top: 14px;padding-left: 15px;padding-right: 15px;">
                <textarea required="" disabled="" id="postflight-prodNotes" class="form-control" placeholder="Please enter your production notes." rows="5" autofocus="" style="resize: none;padding-bottom: 2px;padding-top: 5px;padding-left: 10px;padding-right: 10px;"></textarea>
                <div class="checkbox m-r-xs" style="margin-bottom: 0px; margin-top: 2px;">
                    <input type="checkbox" id="postflight-prodNotes-checkbox" style="margin-left: 0px; margin-top: 3px;" onclick="skipNotesCheckbox()" disabled>
                    <label for="postflight-prodNotes-checkbox" style="margin-left: 0px;">Skip notes</label>
                </div>
            </div>
        </div>
        <!--BUTTONS SUBMIT/CANCEL-->
        <div class="submit-cancel-postflight" style="width: 100%;text-align:center; height: 58px;">
            <button disabled id="submit_postflight" class="btn btn-success btn-lg">Submit Postflight</button> &nbsp;&nbsp;
            <button disabled id="cancel_postflight" class="btn btn-lg btn-danger">Cancel Postflight</button>
        </div>
    </div>
    <!--RIGHT COLUMN-->
    <div id="right_column" class="col-lg-7">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="border-radius: 5px;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="m-b-md">
                            <h1>Postflight Details:</h1>
                        </div>
                    </div>
                </div>
                <!--CLIENT NAME-->
                <div class="row">
                    <div class="col-lg-11">
                        <label class="postflight_details">Client Name:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="postflight_clientName"></span>
                    </div>
                </div>

                <div class="row">
                    <!--JOB NUMBER-->
                    <div class="col-lg-5">
                        <label class="postflight_details">Job Number:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="postflight_jobNumber" ></span>
                    </div>
                    <!--BAG NUMBER-->
                    <div class="col-lg-5">
                        <label class="postflight_details">Bag Number:&nbsp;&nbsp;&nbsp;</label><span class="postflight_attr" id="postflight_bagNumber"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--FILE TO SUBMIT-->
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="border-radius: 5px;">
                <div style="height:30px;overflow:hidden;margin-right:15px;border-bottom:1px solid lightgrey;">
                    <table class=" table table-striped ">
                        <thead>
                            <tr>
                                <th id="fileNumber">#</th>
                                <th>Filename</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="height:245px;overflow-y:scroll;">
                    <table class=" table table-striped ">
                        <thead>
                        </thead>
                        <tbody id="postflightTable">
                            <!-- Dynamically gets added by Javascript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------->
<!-- Dropzone Scripts -->
<!----------------->
<script src="../controllers/page_postflight.js"></script>
<script>


(function() {
    var dropzone = document.getElementById('postflight_dropzone');
    var dropzoneChild = document.getElementById("dropzoneChild");

    dropzone.ondragover = function (){
        this.className = "class_postflight_dropzone_drag";
        dropzoneChild.className = "class_postflight_dz_background_drag p-xl";
        return false;
    };

    dropzone.ondragleave = function() {
        this.className = "class_postflight_dropzone";
        dropzoneChild.className = "class_postflight_dz_background p-xl";
        return false;
    };

    dropzone.ondrop = function(e) {
        e.preventDefault();
        this.className = "class_postflight_dropzone";
        dropzoneChild.className = "class_postflight_dz_background p-xl";
        handleDropFiles(e);
    }
}());

</script>

