<link rel="stylesheet" href="../public/definedCss/page_launch.css">

<div id="launch_overlay" class="launch_overlay_block"></div>
<div class="row">
    <div class="col-lg-5">
        <!--DROPZONE-->
        <div id="launch_dropzone" class="widget lazur-bg p-xl text-center">
            <div class="m-b-md">
                <img src="../public/img/animat-rocket-color.png" width="100px" height="100px" alt="">
                <h1 class="font-bold">
                    Drop Files Here
                </h1>
            </div>
        </div>

        <!--NEW LAUNCH-->
        <div class="ibox">

            <div class="ibox-content highlight" id="newlaunchButton">
                <button id="new_launch" class="btn btn-primary btn-lg" style="width:100%;"><h1>New Launch</h1></button>
            </div>
        </div>
        <!--BUTTONS SUBMIT/CANCEL-->
        <div class="submit-cancel-launch" style="width: 100%;text-align:center">
            <span class="launchBtn"><button id="submit_launch" class="btn btn-success btn-lg">Submit IO-Launch</button></span> &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="launchBtn"><button id="cancel_launch" class="btn btn-lg btn-danger">Cancel IO-Launch</button></span>
        </div>
    </div>

    <div id="right_column" class="col-lg-7">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="m-b-md">
                            <h1>Launch Details:</h1>
                        </div>
                    </div>
                </div>
                <!--CLIENT NAME-->
                <div class="row">
                    <div class="form-horizontal">
                        <label class="launch_details col-lg-4">Client Name:</label>
                        <div class="col-lg-7">
                            <input id="launch_client_name" type="text" class="form-control" placeholder="Please Enter Client Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--JOB NUMBER-->
                    <div class="col-lg-7">
                        <label class="launch_details">Launch Number:&nbsp;&nbsp;&nbsp;</label><div class="launch_attr" id="launch_number" style="display: inline"></div>
                    </div>
                    <div class="col-lg-5">
                        <form action="" class="form-inline">
                            <label for="printYesNo" class="mr-sm-2">Print</label>
                            <select name="" id="printYesNo" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                                <option value="YES" selected>Yes</option>
                                <option value="NO">No</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--FILE TO SUBMIT-->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div style="height:30px;overflow:hidden;margin-right:15px;border-bottom:1px solid lightgrey;">
                    <table class=" table table-striped ">
                        <thead>
                        <tr>
                            <th id="fileNumber">#</th>
                            <th>Filename</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div style="height:223px;overflow-y:scroll;">
                    <table class=" table table-striped ">
                        <thead>
                        </thead>
                        <tbody id="launchTable">
                        <!-- Dynamically gets added by Javascript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>-->


    <!--$(".highlightButtons").click(function(){-->
        <!--$("#newlaunchButton").addClass("highlight")-->
        <!--$(".launch_overlay").fadeIn(500);-->
    <!--})-->
    <!--$(".launch_overlay").click(function(){-->
        <!--$(".highlight").removeClass("highlight")-->
        <!--$(".launch_overlay").fadeOut(100);-->
    <!--});-->
<!--</script>-->
<script>
    var launchDropzone = document.getElementById('launch_dropzone');

//    launchDropzone.ondragover = function() {
//        this.className = 'launch_dropzone_dragover';
//        return false;
//    }


    launchDropzone.ondrop = function (e){
        launchDrop(e);
    }
</script>
<script src="../controllers/newLaunch.js"></script>